@font-face {
	font-family: GolosText;
    font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(''),
	url('/assets/fonts/regular.woff'),
	url('/assets/fonts/regular.woff2');
}

@font-face {
	font-family: GolosText;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(''),
	url('/assets/fonts/medium.woff'),
	url('/assets/fonts/medium.woff2');
}

@font-face {
	font-family: face;
    font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(''),
	url('/assets/fonts/semibold.woff'),
	url('/assets/fonts/semibold.woff2');
}

@font-face {
	font-family: GolosText;
    font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(''),
	url('/assets/fonts/bold.woff'),
	url('/assets/fonts/bold.woff2');
}

@font-face {
	font-family: GolosText;
    font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(''),
	url('/assets/fonts/black.woff'),
	url('/assets/fonts/black.woff2');
}

