@layer base {
	[id] {
		@apply scroll-mt-16 lg:scroll-mt-56
	}

	[x-cloak] {
		@apply !hidden;
	}
	a,
	label,
	input,
	button,
	[role="button"] {
		-webkit-tap-highlight-color: transparent;
		-moz-tap-highlight-color: transparent;
	}
}
*::-webkit-scrollbar {
	@apply w-2 h-2;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
	@apply bg-gray-200 rounded-full;
}

*::-webkit-scrollbar-thumb {
	@apply border-[2px] border-gray-200 hover:bg-white border-solid rounded-full bg-blaze-orange;
}

*{
	scrollbar-color: theme(colors.blaze-orange) theme(colors.athens-gray);
	scrollbar-width: thin;

}


input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
