{% from "components/button/button.njk" import button %}
{% from "components/icon/icon.njk" import Icon %}

{% set globalInfo=[
		{
			number:"22121",
			description:"порций горячих обедов"
		},
		{
			number:"21213",
			description:"продуктовых наборов"
		},
		{
			number:"31421",
			description:"благополучателям"
		},
		{
			number:"55341",
			description:"угощений"
		}
	]
%}

<section>
	<div class="relative w-full py-10">
		<div class="hidden sm:block sm:absolute sm:w-full sm:h-[543px] sm:left-0 sm:top-40 z-[-1]" >
			<img class="" src="/assets/images/left_mask.png" alt="left">
		</div>
		<div class="hidden sm:block sm:absolute sm:h-[543px] sm:right-0 sm:top-44 z-[-1]">
			<img class="" src="/assets/images/right_mask.png" alt="right">
		</div>
		<div class="container relative px-4 mx-auto sm:px-8 z-1 ">
			<div class="relative mx-auto max-w-max">
				<img class="mx-auto mt-7 w-24 h-[52px] sm:mt-10 text-blaze-orange" src="/assets/icons/russia.svg" alt="russia">
				{{ Icon(
					name="bread",
					size="sm:w-[59px] sm:h-[59px]",
					class= "hidden sm:block sm:absolute sm:-left-10 sm:top-12 sm:text-selective-yellow"
				)}}
				{{ Icon(
					name="sun",
					size="sm:w-[59px] sm:h-[59px]",
					class="hidden sm:absolute sm:right-0 sm:block sm:top-3 sm:text-selective-yellow"
				)}}
				{{ Icon(
					name="banana",
					size="sm:w-[59px] sm:h-[59px]",
					class="hidden sm:absolute sm:block sm:top-96 sm:-left-20 sm:text-blaze-orange"
				)}}
				{{ Icon(
					name="tomato",
					size="w-10 h-10",
					class="hidden sm:absolute sm:block sm:text-blaze-orange sm:top-80 sm:right-10"
				)}}
				{{ Icon(
					name="bread",
					size="sm:w-10 sm:h-10",
					class= "hidden sm:block sm:absolute sm:right-0 sm:top-[550px] sm:text-blaze-orange sm:-rotate-90"
				)}}

				<h1 class="py-3.5 sm:py-16 text-3xl font-black text-center sm:text-7xl">ОТДЕЛЕНИЯ НАШЕЙ <br> ОРГАНИЗАЦИИ ДЕЙСТВУЮТ <br> В <span class="text-blaze-orange">41 ГОРОДЕ</span></h1>
				{% call button(
					style="orange",
					icon="like",
					link="/pages/donations",
					class="mx-auto sm:max-w-[280px] mt-2"
				) %}
					Помочь сейчас
				{% endcall %}
				{% call button(
					icon="wallet",
					iconSize="w-4 h-4",
					class="mx-auto mt-4 lg:hidden sm:max-w-[280px]",
					link="#",
					target="_blank"
				) %}
					Реквизиты
				{% endcall %}
				<!-- <div class="absolute top-0 w-24 h-24 bg-white rounded-full -translate-y-1/3 blur-xl opacity-60 right-48"></div>
				<div class="absolute bottom-0 w-24 h-24 bg-white rounded-full -translate-y-[80%] left-28 blur-xl opacity-60"></div> -->
			</div>
			<div class="grid h-full grid-cols-[repeat(auto-fill,minmax(180px,1fr))] lg:grid-cols-4 lg:max-w-max lg:mx-auto gap-2 py-10 justify-items-center w-full">
				{% for item in globalInfo %}
					<div class="w-44 px-3 bg-white py-2.5 rounded-[10px] shadow-md">
						<p class="text-3xl font-extrabold text-true-v">{{ item.number }}</p>
						<p class="mt-1 text-mine-shaft">{{ item.description }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
		{# <div class="hidden xl:block absolute right-0 translate-x-1/4 z-[-1] object-cover w-[700px] h-[500px] top-0">
			<div class="flex items-center justify-center w-full h-full">
				<div class="w-[450px] overflow-hidden opacity-50 h-[300px] bg-silver rounded-full">
					<div class="w-full h-full bg-center" style="background-image: url('/assets/images/vegetables.jpg');"></div>
				</div>
			</div>
		</div>
		<div class="hidden xl:block absolute z-[-1] -translate-x-1/4 w-[700px] object-cover h-[500px] top-0 left-0">
			<div class="flex items-center justify-center w-full h-full">
				<div class="w-[450px] overflow-hidden opacity-50 h-[300px] shadow-inner shadow-silver/50 bg-silver rounded-full">
					<div class="w-full h-full bg-center" style="background-image: url('/assets/images/purchases.jpg');"></div>
				</div>
			</div>
		</div> #}
	</div>
</section>
