{% from "components/cards/cards.njk" import reviewsCard %}
{% from "components/swiper/swiper.njk" import swiper %}

<section class="overflow-hidden">
	<div class="container px-4 mx-auto mt-10 sm:px-8">
		{% call swiper(
			class="py-20 px-2.5 mx-auto overflow-visible max-w-[596px] swiper-reviews h-[max-content]",
			wrapperClass="w-full  mx-auto",
			buttonNext = "reviews-button-next absolute z-10 hidden -translate-y-1/2 translate-x-full sm:block right-0 top-1/2",
			buttonPrev = "reviews-button-prev absolute z-10 hidden -translate-y-1/2 -translate-x-full sm:block -scale-100 left-0 top-1/2"
		) %}
			{% for item in range(0,5) %}
				{{ reviewsCard(class="swiper-slide") }}
			{% endfor %}
		{% endcall %}
	</div>
</section>
