{% from "components/button/button.njk" import button %}

{% macro cardNews( tag, class, img, title, date, description, url ) %}
	<{{ tag|default('li') }}
		class="{{ class }} relative outline-none focus:outline-none w-full group shadow-lg max-w-[450px] h-full rounded-2lg"
	>
		<img class="w-full rounded-t-2lg grayscale group-hover:grayscale-0 group-focus-visible:grayscale-0 transition-all duration-300 object-cover max-h-[280px] aspect-[10/7]" src="{{ img }}" alt="test">
		<div class="grid p-3 gap-y-2">
			<p class="text-xl font-bold transition-all duration-300 group-focus-visible:text-blaze-orange group-hover:text-blaze-orange text-true-v">{{ title }}</p>
			<div class="grid grid-flow-col max-w-max gap-x-0.5 items-center">
				<span class="block w-1 h-1 rounded-full bg-purple-heart"></span>
				<span class="text-sm font-bold text-mine-shaft/50">{{ date }}</span>
			</div>
			<div class="mt-2 max-h-[120px] overflow-hidden">
				{{ description|safe }}
			</div>
			<a href="{{ url }}" class="p-1 mt-6 ml-auto mr-0 text-lg font-bold underline transition-all duration-300 rounded-sm outline-none ring-1 ring-transparent focus-visible:ring-true-v focus:outline-none after:absolute focus-visible:text-true-v after:inset-0 group-hover:text-true-v gfocus-visible:before:bg-true-v group-hover:before:bg-true-v underline-offset-2 max-w-max text-blaze-orange">
				<span>Подробнее</span>
			</a>
		</div>
	</{{ tag|default('li') }}>
{% endmacro %}

{% macro helpCard (class, tag) %}
	<{{ tag|default('div') }} class="{{ class }} h-full mx-auto max-w-max ">
		<div style="background-image: url('https://www.proplan.ru/sites/owners.proplan.ru/files/styles/article350x165/public/2020-03/shutterstock_155382377_2.webp?itok=MZGdZRc8')" class="relative h-full bg-no-repeat bg-center bg-cover max-w-[526px] rounded-lg">
			<div class="grid items-center justify-center w-full h-full grid-rows-3 px-6 pt-8 pb-6 rounded-lg gap-y-6 text-start">
				<p class="text-2xl font-semibold text-white">
					Благотворительное<br> пожертвование
				</p>
				<p class="text-white ">
					Благотворительное пожертвование Благотворительное пожертвование  Благотворительное пожертвование  Благотворительное пожертвование
				</p>
					{% call button(
					icon="like",
					iconSize = 'phone',
					style = "orange",
					class="max-w-max"
					) %}
					Пожертвовать
				{% endcall %}
			</div>
		</div>
	</{{ tag|default('div') }}>
{% endmacro %}

{% macro whatCard(tag) %}
	<{{ tag|default('div') }} class="p-6 rounded-2lg bg-athens-gray">
		<div class="grid grid-cols-2">
			<div class="w-full prose marker:text-transparent">
				<ul>
					<li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat earum excepturi temporibus eos distinctio atque magni ut veniam accusamus odit, totam id quo facere quisquam, molestias, porro eum doloremque quis.</li>
					<li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat earum excepturi temporibus eos distinctio atque magni ut veniam accusamus odit, totam id quo facere quisquam, molestias, porro eum doloremque quis.</li>
					<li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat earum excepturi temporibus eos distinctio atque magni ut veniam accusamus odit, totam id quo facere quisquam, molestias, porro eum doloremque quis.</li>
					<li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat earum excepturi temporibus eos distinctio atque magni ut veniam accusamus odit, totam id quo facere quisquam, molestias, porro eum doloremque quis.</li>
				</ul>
			</div>
			<div>
				<img class="w-full h-full" src="/assets/images/what-we-do.png" alt="what-we-do">
			</div>
		</div>
		<div class="flex justify-end pt-3">
			{% call button(
				icon = "like",
				style="orange"
				) %}
				Пожертвовать
			{% endcall %}
		</div>
	</{{ tag|default('div') }}>
{% endmacro %}

{% macro needCard(class) %}
	<div  class="{{ class }} max-w-sm bg-white border border-gray-200 rounded-lg shadow-md">
        <img class="rounded-t-lg" src="/assets/images/girl.png" alt="girl">
    <div class="p-5">
            <h5 class="mb-4 text-lg font-semibold text-center text-black ">Евгения</h5>
        <p class="mb-4 text-black ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dolore animi hic minima laborum quos, amet neque voluptate commodi fugiat, magnam ipsa quod ducimus ipsam error expedita labore deleniti culpa.</p>
        {% call button(
				class="mx-auto max-w-max",
				icon = "like",
				style="black"
				) %}
				Пожертвовать
			{% endcall %}
    </div>
</div>
{% endmacro %}
{% macro reviewsCard(class) %}
<div class="{{ class }}">
	<div
		data-swiper-parallax-opacity="0.5"
		data-swiper-parallax-scale="0.4"
		class="h-full text-center bg-white border border-gray-100 rounded-lg hover:shadow-lg align-center"

	>
		<div class="flex justify-center">
			<img src="https://picsum.photos/150/150" class="relative z-10 object-center -mt-16 rounded-full shadow-lg w- ring-1 ring-black align-center" />
		</div>
		<p class="pt-3 pb-2 text-lg font-semibold text-center text-black "> Евгения </p>
		<div class="w-full mx-auto border-b md:w-1/3 border-blaze-orange"></div>
		<p class="px-10 py-2 mb-5 text-gray-500"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, inventore. Reprehenderit aperiam, porro neque, pariatur voluptas, a placeat minima quas amet similique modi reiciendis eius tempore. Et similique officiis perferendis? </p>
	</div>
</div>
{% endmacro %}
