{% macro select(class, name, placeholder, items, style) %}
	<select
		{% if name %}
			name="{{ name }}"
		{% endif %}
		data-placeholder="{{ placeholder }}"
		class="{{ class }} {{ init|default('select') }} {{ 'footer-design' if style==='footer-design' else 'select-default' }}"
	>
		<option data-placeholder="true"></option>
		{% for item in items %}
			<option value="{{ item.city }}">{{ item.city }}</option>
		{% endfor %}
	</select>
{% endmacro %}
