<!doctype html>
<html class="scroll-smooth" lang="{{ locale|default('ru') }}">
	<head>
		<meta charset="utf-8">
		{# <link rel="stylesheet" href="https://csswizardry.com/ct/ct.css" class="ct" /> #}
		<link rel="canonical" href="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">
		<link rel="icon" type="image/x-icon" href="{{ envs.site.faviconUrl | url }}">
		<link rel="stylesheet" href="/@root/css/style.css"> {{ __slinkity.head | safe }}
		{% if styles %}
			{% for style in styles %}
				<link rel="stylesheet" href="{{ style }}">
			{% endfor %}
		{% endif %}
	</head>
	<body
		x-data="{
			scrollWidth: window.innerWidth - $refs.body.offsetWidth + 'px'
		}"
		x-ref="body"
		:class="$store.bodyLock ? 'overflow-hidden' : ''"
		:style="$store.bodyLock ? 'padding-right:' + scrollWidth : ''"
		class="grid min-h-screen font-body body grid-cols-full grid-areas-layout grid-rows-a1a"
	>
		{% if grafics %}
			<div class="top-0 right-0 hidden w-full h-[620px] overflow-hidden sm:absolute sm:block">
				<div class="w-[520px] h-[130px] absolute bottom-10 right-0 translate-x-1/2 -translate-y-full -rotate-45 rounded-full bg-[#eae6f8]"></div>
				<div class="w-[400px] h-[100px] absolute bottom-10 right-0 translate-x-[calc(50%+50px)] -translate-y-[calc(110%)] -rotate-45 rounded-full bg-[#7656d2]"></div>
			</div>
		{% endif %}
		{% include "partials/header/header.njk" %}
		<main class="grid-in-main">
			{{ content | safe }}
		</main>
		{% include "partials/footer/footer.njk" %}
		{% if scripts %}
			{% for script in scripts %}
			<script type="module" src="{{ script }}"></script>
			{% endfor %}
		{% endif %}
		<script type="module" src="/@root/js/app.js"></script>
	</body>
</html>
