{% from "components/icon/icon.njk" import Icon %}
{% from "components/button/button.njk" import button %}
{% from "components/select/select.njk" import select %}

{% set links = [
	{
		title: "История",
		url: "#"
	},
	{
		title: "Наша работа",
		url: "#"
	},
	{
		title: "Стандарты",
		url: "#"
	},
	{
		title: "Отчёты",
		url: "#"
	},
	{
		title: "Города-участники",
		url: "#"
	}
] %}

<footer class="bg-mine-shaft-1">
    <div class="container grid gap-8 px-4 py-8 mx-auto lg:grid-flow-col sm:px-8">
        <div class="flex justify-center sm:justify-between flex-wrap gap-8 w-full max-w-[600px]">
			<div>
				<h2 class="mb-6 text-sm font-semibold text-white uppercase ">О волонтёрстве</h2>
				<ul class="grid text-silver gap-y-4">
					{% for item in links %}
						<li>
							<a href="{{ item.url }}" class="p-1 transition-all duration-300 rounded-sm outline-none focus:outline-none ring-transparent focus-visible:ring-blaze-orange ring-1 focus-visible:text-blaze-orange">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div>
				<h2 class="mb-6 text-sm font-semibold text-white uppercase">Об Организации</h2>
				<ul class="grid text-silver gap-y-4">
					{% for item in links %}
						<li>
							<a href="{{ item.url }}" class="p-1 transition-all duration-300 rounded-sm outline-none focus:outline-none ring-transparent focus-visible:ring-blaze-orange ring-1 focus-visible:text-blaze-orange">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div>
				<h2 class="mb-6 text-sm font-semibold text-white uppercase ">Полезное</h2>
				<ul class="text-silver">
					<li class="mb-4">
						<a href="/pages/news" class="p-1 transition-all duration-300 rounded-sm outline-none focus:outline-none ring-transparent focus-visible:ring-blaze-orange ring-1 focus-visible:text-blaze-orange">Новости</a>
					</li>
					<li class="mb-4">
						<a href="#" class="p-1 transition-all duration-300 rounded-sm outline-none focus:outline-none ring-transparent focus-visible:ring-blaze-orange ring-1 focus-visible:text-blaze-orange">Галерея</a>
					</li>
					<li class="mb-4">
						<a href="#" class="p-1 transition-all duration-300 rounded-sm outline-none focus:outline-none ring-transparent focus-visible:ring-blaze-orange ring-1 focus-visible:text-blaze-orange">Контакты</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="flex flex-wrap justify-center gap-8">
			<div class="max-w-[200px]">
				<h2 class="mb-6 text-sm font-semibold text-white uppercase ">Следите за новостями в социальных сетях:</h2>
				<ul class="grid grid-cols-2 gap-2 text-silver max-w-max">
					<li>
						<a href="#" class="text-white transition-all duration-300 outline-none focus:outline-none focus-visible:text-blaze-orange hover:text-blaze-orange">
							{{ Icon(
								name="facebook",
								class="",
								size="w-9 h-9"
							) }}
						</a>
					</li>
					<li>
						<a href="#" class="text-white transition-all duration-300 outline-none focus:outline-none focus-visible:text-blaze-orange hover:text-blaze-orange">
							{{ Icon(
								name="vk",
								class="",
								size="w-9 h-9"
							) }}
						</a>
					</li>
				</ul>
			</div>
			<div class="max-w-[220px]">
				<h2 class="mb-6 text-sm font-semibold text-white uppercase ">Будьте в курсе обновлений</h2>
				<ul class="grid text-silver gap-y-4">
					<li>
						Оставьте свой e-mail и первым узнавайте обо всех новостях фонда.
					</li>
					<li>
						<form
							x-data="feedbackForm"
							x-ref="form"
							@submit.prevent="submit"
							class="px-1 "
						>
							<fieldset
								x-transition:enter="opacity-0 invisible max-h-0"
								x-transition:leave="opacity-0 invisible max-h-0"
								x-show="!sent"
								class="grid gap-y-3"
							>
								{{ select(
									style="footer-design",
									name = "entry.1920604894",
									placeholder = "Выбрать город",
									items = cities
								) }}
								<label class="pl-1 border-b border-white">
									<input
										placeholder="Ваша почта"
										class="transition-all duration-300 bg-transparent outline-none invalid:text-red-500 text-silver placeholder:text-silver focus:outline-none"
										name="entry.1202015506"
										type="mail"
									>
								</label>
								{% call button(
									class="px-2 mt-4 font-bold",
									type="submit",
									attr = "
										x-ref='button'
									",
									style="orange"
									) %}
									Подписаться
								{% endcall %}
							</fieldset>
							<div
								x-collapse
								x-transition:enter="opacity-0 invisible max-h-0"
								x-transition:leave="opacity-0 invisible max-h-0"
								x-show="sent"
								class="max-h-full text-center"
							>
								<p x-html="message"></p>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</div>
    </div>
</footer>
