{% from "components/contacts/card/card.njk" import card %}
{% set contacts = [
	{
		username: 'Зюбин Александр',
		phone: '79157777777',
		mail: 'familiaimya@mail.com',
		avatar: 'https://thispersondoesnotexist.com/image',
		post:'Президент МБОО "Пища Жизни"'

	},
	{
		username: 'Маурицио Сарри',
		phone: '+7 915 777 77 77',
		mail: 'familiaimya@mail.com',
		post:'Президент МБОО "Пища Жизни"'

	},
	{
		username: 'Доминик Торетто',
		avatar: 'https://thispersondoesnotexist.com/image',

		mail: 'familiaimya@mail.com',
		post:'Президент МБОО "Пища Жизни"'

	}
] %}
<section class="relative">
	<div class="container px-4 sm:px-8 relative pb-[75px] mx-auto sm:pb-16">
		<span class="text-true-v grid py-4 text-center text-lg font-[600] sm:py-6 sm:text-2xl">Контакты</span>
		<div class="grid sm:grid-cols-[repeat(auto-fit,minmax(250px,1fr))] sm:grid-сols-[repeat(auto-fit,minmax(250px,1fr))] gap-10">
		{% for item in contacts %}
			{{ card(
				username = item.username,
				phone = item.phone,
				mail = item.mail,
				post = item.post,
				avatar = item.avatar
			) }}
		{% endfor %}
		</div>
	</div>
</section>
