---
import Icon from "@components/Icon/Icons.vue";
import AppButton from "@components/buttons/AppButton.vue";
---

<header class="bg-stratos">
	<div class="container px-5 py-2 mx-auto">
		<div class="flex justify-between items-center">
			<Icon
			name="logo"
			class="text-white w-20 h-10"
			/>
			<Icon
			name="burger"
			/>
			<AppButton
				type1
			>

				что-то
			</AppButton>
		</div>
	</div>
</header>
