{% from "components/button/button.njk" import button %}
{% from "components/icon/icon.njk" import Icon %}
{% from "components/modal/modal.njk" import modal %}
{% from "partials/header-menu/header-menu.njk" import headerMenu %}

<header
	x-data="header"
	class="sticky top-0 z-50 bg-white"
	>
	<div class="container grid items-center px-4 mx-auto sm:px-8 gap-x-2 grid-cols-a1a">
		<a href="/" class="transition-all duration-300 outline-none focus:outline-none text-blaze-orange focus-visible:text-atomic-tangerine">
			<img class="w-full h-12" src="https://ffl.ru/local/templates/foodlife/img/png/logo_ffl.png" alt="logo">
			<span class="sr-only">Главная</span>
		</a>
		<div class="w-full">
			<ul class="hidden grid-flow-col mx-auto lg:grid max-w-max lg:gap-x-3 xl:gap-x-5">
				{% for item in navigation %}
					<li>
						<a class="{% if item.active %} text-blaze-orange hover:text-true-v hover:ring-true-v focus-visible:ring-true-v focus-visible:text-true-v {% else %} text-black {% endif %} font-semibold text-sm outline-none focus:outline-none focus-visible:ring-blaze-orange focus-visible:text-blaze-orange hover:ring-blaze-orange hover:text-blaze-orange ring-transparent ring-1 p-1 xl:p-2 rounded-full transition-all duration-300" href="{{ item.link }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		{% slottedComponent 'components/button/AppButton.vue', hydrate='eager' %}Проверка{% endslottedComponent %}
		{% call button(
			icon="wallet",
			style="stroke",
			iconSize="w-4 h-4",
			class="hidden lg:flex",
			link="#",
			xText="test ? 'asdas': 'sadasd'",
			target="_blank"
		) %}
			Реквизиты
		{% endcall %}
		<button
			@click="menuBurger = !menuBurger, $store.bodyLock = true"
			class="text-black lg:hidden"
		>
			{{ Icon(
				name="burger",
				size="w-8 h-8"
			) }}
			<span class="sr-only">Открыть меню</span>
		</button>
	</div>
	{{ headerMenu(
		show="menuBurger",
		items = navigation
	) }}
	{# <span type="string" x-bind="jopa"></span> #}
</header>
