{% from "components/cards/cards.njk" import helpCard %}
{% from "components/swiper/swiper.njk" import swiper %}
<section>
	<p class="mx-auto mb-6 text-2xl font-semibold text-true-v max-w-max">Чем помочь</p>
	<div class="container px-4 mx-auto mb-16 sm:px-8">
		{% call swiper(
			class="w-full py-5 mx-auto swiper-help max-w-max min-h-[320px] ",
			wrapperClass="md:h-full md:gap-6 mx-auto md:grid md:grid-cols-2 md:max-w-max"
		) %}
			{% for item in range(0,4) %}
				{{ helpCard(class="swiper-slide") }}
			{% endfor %}
		{% endcall %}
	</div>
</section>
