{% from "components/cards/cards.njk" import needCard %}
{% from "components/swiper/swiper.njk" import swiper %}

<section>
	<p class="mx-auto mb-6 text-2xl font-semibold text-true-v max-w-max">Нужна помощь</p>
	<div class="container px-4 mx-auto sm:px-8 ">
	{% call swiper(
			class="w-full py-5 mx-auto swiper-need-help max-w-max min-h-[320px] ",
			wrapperClass="md:grid md:grid-cols-2 lg:grid-cols-3 gap-10"
		) %}
			{% for item in range(0,3) %}
				{{ needCard(class="swiper-slide") }}
			{% endfor %}
		{% endcall %}
	</div>
</section>
