{% from "components/cards/cards.njk" import cardNews %}
{% from "components/swiper/swiper.njk" import swiper %}

{% set news=[
		{
			title: "Продолжаем расширять границы деятельности “Пища Жизни”",
			img: "/assets/images/test.jpg",
			date: "22.01.2022",
			description: "Состоялась встреча президента МБОО \"Пища Жизни\" Долгополова В.И. с руководителем Фонда \"Центр поддержки гражданских инициатив и развития некоммерческого сектора экономики Челябинской области\" - Комиссаровым Михаилом Юрьевичем.",
			link: "https://chir.ag/"
		},
		{
			title: "Продолжаем расширять",
			img: "/assets/images/test.jpg",
			date: "22.01.2022",
			description: "Состоялась встреча президента МБОО \"Пища Жизни\" Долгополова В.И. с руководителем Фонда \"Центр поддержки гражданских инициатив и развития некоммерческого сектора экономики Челябинской области\" - Комиссаровым Михаилом Юрьевичем.",
			link: "https://chir.ag/"
		}
	]
%}

<section class="mt-20 overflow-hidden">
	<div class="container px-4 mx-auto sm:px-8">
		<h2 class="pb-10 text-3xl font-bold text-true-v">Новости и анонсы</h2>
		{% call swiper(
			class="w-full py-5 mb-10 overflow-visible swiper-news",
			tag="ul",
			wrapperClass="grid grid-flow-col max-w-max",
			buttonNext = "swiper-news-button-next absolute z-10 hidden -translate-y-1/2 sm:block right-2 top-1/2",
			buttonPrev = "swiper-news-button-prev absolute z-10 hidden -translate-y-1/2 sm:block -scale-100 left-2 top-1/2"
		) %}
			{% for item in news %}
				{{ cardNews(
					class = "swiper-slide",
					img = item.img,
					title = item.title,
					date = item.date,
					description = item.description,
					url = item.link
				) }}
			{% endfor %}
		{% endcall %}
	</div>
</section>
