
{% from "components/icon/icon.njk" import Icon %}

{% macro headerMenu(show, items) %}
	<div
		x-cloak
		x-show="{{ show }}"
		x-trap="{{ show }}"
		x-transition:enter="opacity-0 invisible"
		x-transition:leave="opacity-0 invisible"
		class="fixed inset-0 flex justify-end w-screen transition-all duration-300 lg:hidden backdrop-blur-md bg-black/30"
	>
		<nav
			x-show={{ show }}
			@click.outside="{{ show }} = false, $store.bodyLock = false"
			x-transition:enter="translate-x-full"
			x-transition:leave="translate-x-full"
			class="h-full px-4 py-2.5 transition-all duration-300 bg-blaze-orange w-full max-w-[75%] sm:max-w-1/2"
		>
			<div class="flex justify-end w-full">
				<button
					@click="{{ show }} = false, $store.bodyLock = false"
					class="ml-auto mr-0 text-white transition-all duration-300 outline-none focus:outline-none focus-visible:text-black active:text-black"
				>
					{{ Icon(
						name="close",
						size="w-10 h-10"
					) }}
					<span class="sr-only">Закрыть меню</span>
				</button>
			</div>
			<ul class="grid text-white gap-y-8">
				{% for item in items %}
					{% if item.title ==="Города-участники" %}
					{% else %}
						<li>
							<a href="{{ item.link }}" class="text-lg transition-all duration-300 outline-none focus:outline-none focus-visible:text-black active:text-black">
								{{ item.title }}
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
{% endmacro %}
